.recipe{
    background: linear-gradient(to right, #8e2de2, #dc38b8);
}
.recipe-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
  }
  
  .recipe-detail img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .recipe-detail h2 {
    color: #333;
  }
  
  .recipe-detail ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .recipe-detail li {
    margin: 5px 0;
  }
  
  .recipe-detail p {
    line-height: 1.6;
  }
  